*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background: #fc354c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0abfbc,
    #fc354c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
  height: 90vh;
  width: 30vw;
  /* border: 1px solid; */
  margin: auto;
  padding: 1rem;
  /* box-shadow: 10px 10px grey; */
  background-color: #202124;
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  flex-wrap: nowrap;
  height: 15%;
  width: 90%;
  border: 1px solid;
  margin: auto;
  overflow-wrap: break-word;
  background-color: #424548;
  color: white;
}

.previous-op {
  font-size: 25px;
  margin-bottom: 0.5em;
  /* direction: rtl; */
}

.current-op {
  font-size: 30px;
  /* direction: rtl; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  margin: 1rem;
}

.btn {
  padding: 1rem;
  text-align: center;
  border: 1px solid;
  cursor: default;
  background-color: #94989d;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
}

.button {
  padding: 1rem;
  text-align: center;
  border: 1px solid;
  cursor: default;
  color: white;
}

.button:hover {
  transform: scale(1.05);
}

.function-btn {
  background-color: #424548;
}

.enter-btn,
.clear-btn {
  grid-column: span 2;
}

.enter-btn {
  background-color: rgb(186, 134, 37);
}

/* .display-value {
  margin: 0;
  font-size: 35px;
} */
